@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/PlayfairDisplaySC-Regular.ttf') format('ttf');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/PlayfairDisplaySC-Italic.ttf') format('ttf');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/PlayfairDisplaySC-Bold.ttf') format('ttf');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/PlayfairDisplaySC-BoldItalic.ttf') format('ttf');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/PlayfairDisplaySC-Black.ttf') format('ttf');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/PlayfairDisplaySC-BlackItalic.ttf') format('ttf');
}



@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Lato-Light.ttf') format('truetype');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Lato-Italic.ttf') format('truetype');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Lato-Medium.ttf') format('truetype');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/Lato-MediumItalic.ttf') format('truetype');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Lato-SemiBold.ttf') format('truetype');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/Lato-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Lato-Black.ttf') format('truetype');
}
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
}


/* Стили для карусели */
.gallery__swiper-container {
    width: 840px;
    height: 881px;
}


:root {
    --fz-nav-link: 18px;
    --lh-nav-link: auto;
    --ls-nav-link: 0.02em;
    --fw-nav-link: bold;

    --gold: #F2C03F;
}

html {
    font-family:'Lato', Arial, Helvetica, sans-serif;
}

.main-body {
    background: url('../image/bfw.svg'),
                linear-gradient(45deg, rgba(100, 78, 162, 0.87) 25%, rgba(95, 75, 139,0.87) 100%);
    background-repeat: no-repeat;
    background-position: 0 200px, center;
    max-width: 1920px;
}



.main-hero {
    display: flex;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__link-logo {
    background-color: white;
    padding: 51px 40px 52px;
}

.hero__navigation-and-selection-wrapper {
    display: flex;
    column-gap: 122px;
}

.main-header__navigation-list {
    display: flex;
    column-gap: 64px;
    list-style: none;
    padding: 0;
}

.main-header__navigation-link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: var(--fz-nav-link);
    font-weight: var(--fw-nav-link);
    letter-spacing: var(--ls-nav-link);
}

.hero {
    display: flex;
}

.hero__hashtag {
    color: var(--gold);
    font-size: 24px;
    letter-spacing: 0.02em;
    font-weight: 600;
}

.hero__title {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
    color: white;
    font-size: 72px;
    line-height: 1.1em;
    letter-spacing: 0.04em;
    font-weight: 900;
}

.hero__event-details-wrapper {
    display: flex;
    column-gap: 48px;
}

.hero__event-details {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.hero__icon-wrapper {
    width: 44px;
    height: 44px;
}

.hero__event-text {
    display: flex;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    padding-right: 48px;
    font-size: 18px;
    color: white;
    opacity: 0.74;
}
